    .navbar-nav {
        background: #e63434!important;
    }
    .banner:after,
    h1 {
        border-color: #e63434!important;
    }
    .specyfication tr:hover {
        background: #e63434!important;
    }